<template lang="pug">
  #application
    panel
    frame(:width='frameWidth')
    pen
</template>

<script>
import { mapState } from 'vuex'

import Pen from '@/components/Pen.vue'
import Frame from '@/components/Frame.vue'
import Panel from '@/components/Panel.vue'

export default {
  name: 'application',
  components: {
    Pen,
    Frame,
    Panel
  },
  computed: {
    ...mapState('session', ['frameWidth'])
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.subscribe(mutation => {
        if (mutation.type === 'panel/TOGGLE') this.$store.dispatch('session/getWidth')
      })

      this.$store.dispatch('session/getWidth')
    })
  }
}
</script>
