<template lang="pug">
  #bookmarks
    button(@click="addMark(mark)" v-html="$t('bookmarks.cta')")
    ul
      transition(name="fade")
        li(v-for="(mark, index) in marks" :key="index")
          a(@click="navigate(mark.url)")
            span(v-html="mark.name")
          a.delete(:v-tooltip="$t('bookmarks.delete')" @click="delMark(mark.id)")
            svg-icon(name="trash")
      transition(name="fade")
        li(v-if="notice")
          notice(dispatcher="bookmarks" :notification="notice")
</template>

<script>
// FIXME: Proxy server
// Cannot proceed without proxy to overcome CORS

import { mapActions, mapState } from 'vuex'

import Notice from './Notice.vue'

export default {
  name: 'bookmarks',
  components: {
    Notice
  },
  computed: {
    mark() {
      const frame = document.querySelector('#frame > iframe')

      return {
        name: frame.contentDocument.title,
        id: this.$hash(frame.contentWindow.location.href),
        url: frame.contentWindow.location.href
      }
    },
    ...mapState('bookmarks', ['marks', 'notice'])
  },
  methods: {
    ...mapActions('bookmarks', ['addMark', 'delMark']),
    navigate(url) {
      this.$store.dispatch('session/navigate', url)
    }
  }
}
</script>

<style lang="stylus" scoped>
#bookmarks
  display flex
  flex-direction column
  justify-content center
  padding 1em 1em 0
  background #efefef

  button
    border none
    background #000
    text-transform uppercase
    font-size 0.8em

  ul
    margin-top 1em
    padding 0
    list-style-type none

    li
      padding 0.5em 0
      border-bottom 1px solid #ccc

      &:last-child
        padding-bottom 0
        border-bottom none

      a
        color #000
        cursor pointer

      .delete
        float right
        width 0.75em
        height auto

        img
          width 100%
</style>
