<template lang="pug">
  #chat
    .conversation
    .entry
      input(type="text" :placeholder="$t('chat.placeholder')")
      button(type="submit" v-html="$t('chat.submit')")
</template>

<script>
export default {
  name: 'chat'
}
</script>

<style lang="stylus" scoped>
#chat
  display flex
  flex-direction column
  justify-content flex-end
  align-items flex-start

  .conversation
    min-height calc(100vh - 10em)

  .entry
    display flex
    flex-direction row
    justify-content space-between
    width 100%
    justify-self flex-end

    input
      padding 0.5em
      width 75%
      border 3px solid #000
      font-size 0.9em

    button
      width 23%
      border none
      background-color #000
      color #fff
      text-transform uppercase
      font-size 0.8em
</style>
