<template lang="pug">
  vue-friendly-iframe(
    id="frame"
    :style="`width: ${width}px;`"
    :src="page"
  )
</template>

<script>
import { mapGetters } from 'vuex'
import VueFriendlyIframe from 'vue-friendly-iframe'

export default {
  name: 'frame',
  components: {
    VueFriendlyIframe
  },
  props: {
    width: {
      type: Number
    }
  },
  computed: { ...mapGetters('session', ['page']) }
}
</script>

<style lang="stylus">
#frame, #frame > iframe
  margin 0
  padding 0
  width 100%
  height 100vh
  border 0
  cursor pointer
</style>
