<template lang="pug">
  transition(name="fade")
    .notice(v-if="notification" v-html="notification")
</template>

<script>
export default {
  name: 'notice',
  props: {
    notification: {
      type: String,
      required: false
    },
    dispatcher: {
      type: String,
      required: true
    },
    timeout: {
      type: Number,
      required: false,
      default: 3000
    }
  },
  created() {
    this.$nextTick(() => {
      this.$store.subscribe(mutation => {
        if (mutation.type === `${this.dispatcher}/NOTIFY` && mutation.payload) {
          this.clearNotice()
        }
      })

      this.clearNotice()
    })
  },
  methods: {
    clearNotice() {
      Console.log('Clear notice')
      setTimeout(() => this.$store.dispatch(`${this.dispatcher}/clearNotice`), this.timeout)
    }
  }
}
</script>

<style lang="stylus" scoped>
.notice
  color #666
  font-size 0.8em
</style>
