<template lang="pug">
  transition
    #panel(v-if="panel.active")
      toolbar
      .subnav
        transition(name="fade" mode="out-in")
          share(v-if="share.active")
          pen-opts(v-else-if="pen.active")
          bookmarks(v-else-if="bookmarks.active")
      .toggle(@click="toggle")
      chat
    .toggle.closed(v-else @click="toggle")
</template>

<script>
import { mapActions, mapState } from 'vuex'

import Bookmarks from './Bookmarks.vue'
import Chat from './Chat.vue'
import Toolbar from './Toolbar.vue'
import PenOpts from './PenOpts.vue'
import Share from './Share.vue'

export default {
  name: 'panel',
  components: {
    Bookmarks,
    Chat,
    Toolbar,
    PenOpts,
    Share
  },
  computed: { ...mapState(['panel', 'share', 'pen', 'bookmarks']) },
  methods: {
    ...mapActions('panel', ['toggle'])
  }
}
</script>

<style lang="stylus" scoped>
#panel
  position fixed
  top 0
  right 0
  z-index 10
  min-width 320px
  max-width 420px
  width 100%
  height 100vh
  background #fff
  box-shadow -5px 0 20px -12px rgba(0, 0, 0, 0.5)

  .subnav
    position absolute
    z-index 20
    width 100%

.toggle
  position absolute
  top 50%
  z-index 5
  display block
  margin-left -0.75em
  width 1.75em
  height 1.75em
  border-radius 50% 0 0 50%
  background #fff
  box-shadow -10px 0 20px -12px rgba(0, 0, 0, 0.5)
  font-size 1.4em

  &:after
    padding-left 0.3em
    content '▸'

  &.closed
    right -0.75em
    margin-left 0

    &:after
      content '◂'
</style>
