<template lang="pug">
  canvas(
    id="drawing-pad"
    :class="{ transparent }"
    :width="frameWidth"
    :height="height"
    :style="`width: ${frameWidth}px; height: ${height}px;`"
  )
</template>

<script>
// TODO: Implement scrolling canvas

import { mapState } from 'vuex'
import SignaturePad from 'signature_pad'

export default {
  name: 'pen',
  data() {
    return {
      canvas: null,
      drawingPad: null
    }
  },
  computed: {
    height() {
      return window.innerHeight
    },
    ...mapState('pen', ['color', 'weight', 'transparent', 'active']),
    ...mapState('session', ['frameWidth'])
  },
  mounted() {
    this.$nextTick(() => {
      this.canvas = document.getElementById('drawing-pad')

      this.drawingPad = new SignaturePad(this.canvas, {
        height: this.height,
        maxWidth: this.weight.size,
        minWidth: this.weight.size - 2,
        onEnd: this.draw,
        penColor: `rgb(${this.color.color})`,
        width: this.frameWidth
      })

      this.$store.subscribe(mutation => {
        switch (mutation.type) {
          case 'pen/ACTIVATE':
            this.unlock()
            break
          case 'pen/DEACTIVATE':
            this.lock()
            break
          case 'pen/WEIGHT':
            this.drawingPad.minWidth = mutation.payload.size - 2
            this.drawingPad.maxWidth = mutation.payload.size
            break
          case 'pen/COLOR':
            this.drawingPad.penColor = `rgb(${mutation.payload.color})`
            break
        }
      })

      this.$bus.$on('penClear', () => {
        this.clear()
      })

      this.resizeCanvas()
      this.active ? this.unlock() : this.lock()
    })
  },
  methods: {
    draw() {
      this.$store.dispatch('pen/draw', this.drawingPad.toData())
    },
    clear() {
      this.drawingPad.clear()
      this.$store.dispatch('pen/clear')
    },
    lock() {
      this.drawingPad.off()
      this.canvas.style.pointerEvents = 'none'
    },
    unlock() {
      this.drawingPad.on()
      this.canvas.style.pointerEvents = 'all'
    },
    resizeCanvas() {
      const ratio = Math.max(window.devicePixelRatio || 1, 1)
      this.canvas.width = this.canvas.offsetWidth * ratio
      this.canvas.height = this.canvas.offsetHeight * ratio
      this.canvas.getContext('2d').scale(ratio, ratio)
      this.drawingPad.clear()
    }
  }
}
</script>

<style lang="stylus" scoped>
#drawing-pad
  position absolute
  top 0
  left 0

  &.transparent
    mix-blend-mode multiply
</style>
