<template lang="pug">
  .pen-opts
    ul.colors
      li(v-for="(color, index) in pen.colors" :key="index" v-tooltip="color.name")
        div(
          :class="[`color color-${color.name.toLowerCase()}`, { 'color-selected': color.active }]"
          :style="`background-color: rgb(${color.color})`"
          @click="switchColor(color)"
        )

    ul.transparency
      li(v-tooltip="this.pen.transparent ? this.$t('pen.transparent.on') : this.$t('pen.transparent.off')")
        .transparent(
          @click="transparency"
        )
          svg-icon(name="transparent")

    ul.weights
      li(v-for="(weight, index) in pen.weights" :key="index" v-tooltip="`${weight.name}`")
        div(:class="[`weight weight-${weight.name.toLowerCase()}`, { 'weight-selected': weight.name === pen.weight.name }]" @click="switchWeight(weight)")
          .bit(:style="`height: ${weight.size}px; width: ${weight.size}px;`")

    ul.erase
      li(v-tooltip="$t('pen.erase')")
        div(@click="clear")
          svg-icon(name="erase")
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'penOpts',
  computed: {
    ...mapState(['pen'])
  },
  mounted() {
    this.$nextTick(() => {
      this.setup()
    })
  },
  methods: {
    setup() {
      this.switchColor(this.pen.color || this.pen.colors[0])
      this.switchWeight(this.pen.weight || this.pen.weights[0])
    },
    switchColor(color) {
      this.$store.dispatch('pen/color', color)
    },
    switchWeight(weight) {
      this.$store.dispatch('pen/weight', weight)
    },
    transparency() {
      this.$store.dispatch('pen/transparent')
    },
    clear() {
      this.$bus.$emit('penClear')
    }
  }
}
</script>

<style lang="stylus" scoped>
.pen-opts
  display flex
  flex-direction row
  justify-content space-between
  padding 0.5em
  height 3.5em
  background-color #efefef

  ul
    display flex
    flex-direction row
    align-items flex-start
    padding 0
    list-style-type none

    li
      padding 0.5em

  .colors
    .color
      display block
      width 1.25em
      height 1.25em
      border 2px solid #fff
      border-radius 50%

      &.color-selected
        border-color #000

  .transparent
    margin-top -0.25em
    width 1em
    height 1em

    .svg-icon--transparent
      margin-top 0.325em
      width 100%

  .weights
    .weight
      display flex
      justify-content center
      align-items center
      width 1.25em
      height 1.25em
      border 2px solid transparent
      border-radius 50%
      background-color #fff

      .bit
        border-radius 50%
        background-color #000

      &.weight-selected
        border-color #000

  .erase
    div
      display flex
      justify-content center
      align-items center
      width 1.25em
      height 1.25em
      border 2px solid transparent
      border-radius 50%

    img
      display block
      min-width 1em
      width 100%
      height auto
</style>
