<template lang="pug">
  #share
    .share-intro(v-html="$t('share.intro')")
    .share(:v-tooltip="$t('share.tooltip')" v-clipboard:copy="shareUrl" v-clipboard:success="copied" v-clipboard:error="failed")
      .share-url
        span(v-html="shareUrl")
        .share-copy
          svg-icon(name="copy")
        notice.response(dispatcher="share" :notification="notice")
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

import Notice from './Notice.vue'

export default {
  name: 'share',
  components: {
    Notice
  },
  computed: {
    ...mapGetters('session', ['shareUrl']),
    ...mapState('share', ['notice'])
  },
  methods: {
    ...mapActions('share', ['notify']),
    copied() {
      this.notify(this.$t('share.success'))
    },
    failed() {
      this.notify(this.$t('share.error'))
    }
  }
}
</script>

<style lang="stylus" scoped>
#share
  display flex
  flex-direction column
  justify-content space-between
  padding 0.5em
  height auto
  background-color #efefef

  .share-intro
    font-weight bold

  .share-url
    .share-copy
      float right
      margin-left 1em

      svg
        width 1em
        height 1em
</style>
