<template lang="pug">
  li(:class="{ active }" v-tooltip="tooltip" @click="dispatch(tool)")
    span(v-if="multiImg")
      svg-icon(v-if="active" :name="`${slug}-on`")
      svg-icon(v-else :name="`${slug}-off`")
    span(v-else)
      svg-icon(:name="slug")
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    tool: {
      type: String,
      required: true
    }
  },
  computed: {
    multiImg() {
      return this.tool === 'lock' || this.tool === 'mute'
    },
    slug() {
      return this.tool
    },
    name() {
      return this.$t(`toolbar['${this.tool}'].name`)
    },
    tooltip() {
      if (typeof this.$t(`toolbar['${this.tool}'].tooltip`) === 'string') {
        return this.$t(`toolbar['${this.tool}'].tooltip`)
      } else {
        return this.active
          ? this.$t(`toolbar['${this.tool}'].tooltip.active`)
          : this.$t(`toolbar['${this.tool}'].tooltip.inactive`)
      }
    },
    ...mapState({
      active(state) {
        return state[this.tool] ? state[this.tool].active : null
      }
    })
  },
  methods: {
    dispatch(tool) {
      this.$store.dispatch('swapTool', tool)
    }
  }
}
</script>

<style lang="stylus" scoped>
li
  display flex
  justify-content center
  align-items center
  margin 0 0.075em
  padding 0.5em
  width 2.75em
  height calc(2.75em - 2px)
  border 3px solid transparent
  border-radius 50%

  &:hover
    background-color #efefef

  &.active
    background-color #efefef

  .svg-icon
    margin-top 0.25em
    width 1.5em
    height 1.5em
</style>
