<template lang="pug">
  nav#toolbar
    ul
      toolbar-icon(v-for="(tool, index) in tools" :key="index" :tool="tool")
</template>

<script>
// TODO: Implement lock, mute, block, cycle, and info

import ToolbarIcon from './ToolbarIcon.vue'

export default {
  name: 'toolbar',
  components: {
    ToolbarIcon
  },
  data() {
    return {
      tools: ['pointer', 'pen', 'bookmarks', 'lock', 'mute', 'block', 'recycle', 'info', 'share']
    }
  },
  created() {
    this.$store.subscribe(mutation => {
      if (mutation.type === 'pointer/ACTIVATE') document.querySelector('#frame > iframe').contentWindow.focus()
    })
  }
}
</script>

<style lang="stylus" scoped>
nav#toolbar
  border-bottom 4px solid #000

  ul
    display flex
    flex-direction row
    justify-content space-evenly
    align-items center
    margin 0
    padding 0.5em
    list-style-type none
</style>
