<template lang="pug">
  #app
    router-view
</template>

<style lang="stylus">
@import '../node_modules/shoelace-css/dist/shoelace.css'
@import '../node_modules/vue2-animate/dist/vue2-animate.css'

body
  margin 0
  padding 0

.tooltip
  z-index 50
  display block !important

  .tooltip-inner
    padding 5px 10px 4px
    border-radius 16px
    background #000
    color #fff
    font-size 0.8em
    font-family sans-serif

  .tooltip-arrow
    position absolute
    z-index 1
    margin 5px
    width 0
    height 0
    border-style solid
    border-color #000

  &[x-placement^='bottom']
    margin-top 5px

    .tooltip-arrow
      top -5px
      left calc(50% - 5px)
      margin-top 0
      margin-bottom 0
      border-width 0 5px 5px 5px
      border-top-color transparent !important
      border-right-color transparent !important
      border-left-color transparent !important
</style>
